/* review root(?) for color. GLobally accessible to any/all elements on the page*/
:root {
    --primary-color: #845ec2;
    --secondary-color: #4e8397;
    --tertiary-color: #d5cabd;
    --accent-color: #f9f871;
    
}

html {
    font-family: 'Roboto Mono', monospace;
}

input {
    padding: 4px;
}

p{
    margin: 0.5rem;
    max-width: 60ch;
}

header {
    background-color: lightskyblue;
} 



/* color pallette */
.bg-dark, .bg-primary, .bg-secondary, .bg-tertiary, .bg-translucent-dark {
    color: white;
    padding: 1rem;
}

.bg-dark{
    background-color: #333;
}

.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-tertiary {
    background-color: var(--tertiary-color);
}
.bg-translucent-dark{
    background-color: rgba(0, 0, 0, 0.5);
}

.button {
    
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .button-submit{
    background-color: var(--accent-color);
  }

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap{
    gap: 1rem;
}

.items-center {
    align-items: center;
}

.justify-center {    
    justify-content: center;
}

.inline-block{
    display: inline-block;
  }




.m-0 {
    margin: 0;
}

.p-1 {
    padding: 0;
}

.rounded {
    border-radius: .05rem;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}
.text-dark{
    background-color: #333;
}

.text-italic {
    font-style: italic;
}

.text-no-underline {
    text-decoration: none;
  }


 
  .w-max-content{
    width: max-content;
  }

  #contact, #hero {
    background-size: cover;
    background-position: center;
  }

  #contact {
    background-image: url('./images/contact.jpg');
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); 
  }

  #hero {
    background-image: url('./images/landing.jpg');
    height: 50vh; 
  }

  


  /*MEDIA QUERIES with brakpoints */
  @media screen and (min-width: 768px) {
    /*background changes when min width met*/
    #hero section:first-of-type{
        width: 50%;
    }
  }

  @media screen and (min-width: 1024px) {
    .flex-lg {
    display: flex;
  }

  .flex-row {
    flex-direction: row;
  }

}