/* review root(?) for color */
:root {
    --primary-color: #845ec2;
    --secondary-color: #4e8397;
    --tertiary-color: #d5cabd;
    --accent-color: #f9f871;
    
}

html {
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color: lightskyblue;
} 



/* color pallette */
.bg-dark, .bg-primary, .bg-secondary, .bg-tertiary {
    color: white;
    padding: 1rem;
}


.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--primary-color);
}
.bg-tertiary {
    background-color: var(--primary-color);
}


.flex {
    display: flex;
}
.items-center{
    align-items: center;
}

.justify-center {    
    justify-content: center;
}

.text-center {
    text-align: center;
}
.text-dark{
    background-color: #333;
}
.text-no-underline{
    text-decoration: none;
  }

.rounded{
    border-radius: .05rem;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .button-submit{
    background-color: var(--accent-color);
  }
  .inline-block{
    display: inline-block;
  }
 
  .w-max-content{
    width: max-content;
  }
  

  #hero {
    background-image: url('./images/landing.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh; 
  }

  
  #contact {
    background-image: url('./images/contact.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh; 
  }

  .p-1 {
    1rem;
  }

